<div class="opera-resource">
    <div class="resource-header">
        资源概况
    </div>
    <div class="container-box">
        <div class="container-header">
            容器
        </div>
        <div class="container-content">
            <div class="container-box-view">
                <div class="view-title">
                    <span></span>
                    <span>CPU</span>
                </div>
                <div class="view-split"></div>
                <div class="container-box-metric">
                    <div class="metric-assign">
                        <span>分配率</span>
                        <svg height="20" width="75%">
                              <line x1="0" x2="100%" y1="15" y2="15" stroke="#D7D7D7" stroke-width="4" stroke-linecap="round"/>
                              <line x1="0" [attr.x2]="container?.cpuAssigned" y1="15" y2="15" stroke="#5CB9FF" stroke-width="4" stroke-linecap="round"/>
                          </svg>
                    </div>
                    <div class="metric-use">
                        <span>使用率</span>
                        <svg height="20" width="75%">
                              <line x1="0" x2="100%" y1="15" y2="15" stroke="#D7D7D7" stroke-width="4" stroke-linecap="round"/>
                              <line x1="0" [attr.x2]="container?.cpuUsed" y1="15" y2="15" stroke="#5CB9FF" stroke-width="4" stroke-linecap="round"/>
                          </svg>
                    </div>
                </div>
                <div class="container-box-count">
                    <div>{{ extraResource?.containerCount }}</div>
                    <div>容器数</div>
                </div>
            </div>
            <div class="container-box-view">
                <div class="view-title">
                    <span></span>
                    <span>内存</span>
                </div>
                <div class="view-split"></div>
                <div class="container-box-metric">
                    <div class="metric-assign">
                        <span>分配率</span>
                        <svg height="20" width="75%">
                              <line x1="0" x2="100%" y1="15" y2="15" stroke="#D7D7D7" stroke-width="4" stroke-linecap="round"/>
                              <line x1="0" [attr.x2]="container?.memAssigned" y1="15" y2="15" stroke="#5CB9FF" stroke-width="4" stroke-linecap="round"/>
                          </svg>
                    </div>
                    <div class="metric-use">
                        <span>使用率</span>
                        <svg height="20" width="75%">
                              <line x1="0" x2="100%" y1="15" y2="15" stroke="#D7D7D7" stroke-width="4" stroke-linecap="round"/>
                              <line x1="0" [attr.x2]="container?.memUsed" y1="15" y2="15" stroke="#5CB9FF" stroke-width="4" stroke-linecap="round"/>
                          </svg>
                    </div>
                </div>
                <div class="container-box-count">
                    <div>{{ container?.clusterCount }}</div>
                    <div>集群数</div>
                </div>
            </div>
            <div class="container-box-view">
                <div class="view-title">
                    <span></span>
                    <span>存储</span>
                </div>
                <div class="view-split"></div>
                <div class="container-box-metric">
                    <div class="metric-assign">
                        <span>分配率</span>
                        <svg height="20" width="75%">
                              <line x1="0" x2="100%" y1="15" y2="15" stroke="#D7D7D7" stroke-width="4" stroke-linecap="round"/>
                              <line x1="0" [attr.x2]="container?.storageAssigned" y1="15" y2="15" stroke="#5CB9FF" stroke-width="4" stroke-linecap="round"/>
                          </svg>
                    </div>
                    <div class="metric-use">
                        <span>使用率</span>
                        <svg height="20" width="75%">
                              <line x1="0" x2="100%" y1="15" y2="15" stroke="#D7D7D7" stroke-width="4" stroke-linecap="round"/>
                              <line x1="0" [attr.x2]="container?.storageUsed" y1="15" y2="15" stroke="#5CB9FF" stroke-width="4" stroke-linecap="round"/>
                          </svg>
                    </div>
                </div>
                <div class="container-box-count">
                    <div>{{ container?.hostCount }}</div>
                    <div>主机数</div>
                </div>
            </div>
            <div class="container-box-view">
                <div class="view-title">
                    <span></span>
                    <span>端口</span>
                </div>
                <div class="view-split"></div>
                <div class="container-box-metric">
                    <div class="metric-assign">
                        <span>分配率</span>
                        <svg height="20" width="75%">
                            <line x1="0" x2="100%" y1="15" y2="15" stroke="#D7D7D7" stroke-width="4" stroke-linecap="round"/>
                            <line x1="0" [attr.x2]="extraResource?.portAssigned" y1="15" y2="15" stroke="#5CB9FF" stroke-width="4" stroke-linecap="round"/>
                        </svg>
                    </div>
                    <div class="metric-use">
                        <span>使用率</span>
                        <svg height="20" width="75%">
                            <line x1="0" x2="100%" y1="15" y2="15" stroke="#D7D7D7" stroke-width="4" stroke-linecap="round"/>
                            <line x1="0" [attr.x2]="extraResource?.portUsed" y1="15" y2="15" stroke="#5CB9FF" stroke-width="4" stroke-linecap="round"/>
                        </svg>
                    </div>
                </div>
                <div class="container-box-count container-box-placeholder">
                </div>
            </div>
        </div>
    </div>
    <div class="container-box">
        <div class="container-header">
            Oracle
        </div>
        <div class="container-content">
            <div class="container-box-view">
                <div class="view-title">
                    <span></span>
                    <span>CPU</span>
                </div>
                <div class="view-split"></div>
                <div class="container-box-metric">
                    <div class="metric-assign">
                        <span>分配率</span>
                        <svg height="20" width="75%">
                            <line x1="0" x2="100%" y1="15" y2="15" stroke="#D7D7D7" stroke-width="4" stroke-linecap="round"/>
                            <line x1="0" [attr.x2]="oracleResource?.cpuAssigned" y1="15" y2="15" stroke="#5CB9FF" stroke-width="4" stroke-linecap="round"/>
                        </svg>
                    </div>
                    <div class="metric-use">
                        <span>使用率</span>
                        <svg height="20" width="75%">
                            <line x1="0" x2="100%" y1="15" y2="15" stroke="#D7D7D7" stroke-width="4" stroke-linecap="round"/>
                            <line x1="0" [attr.x2]="oracleResource?.cpuUsed" y1="15" y2="15" stroke="#5CB9FF" stroke-width="4" stroke-linecap="round"/>
                        </svg>
                    </div>
                </div>
                <div class="container-box-count">
                    <div>{{ oracleResource?.sumInstances }}</div>
                    <div>实例数</div>
                </div>
            </div>
            <div class="container-box-view">
                <div class="view-title">
                    <span></span>
                    <span>内存</span>
                </div>
                <div class="view-split"></div>
                <div class="container-box-metric">
                    <div class="metric-assign">
                        <span>分配率</span>
                        <svg height="20" width="75%">
                            <line x1="0" x2="100%" y1="15" y2="15" stroke="#D7D7D7" stroke-width="4" stroke-linecap="round"/>
                            <line x1="0" [attr.x2]="oracleResource?.memAssigned" y1="15" y2="15" stroke="#5CB9FF" stroke-width="4" stroke-linecap="round"/>
                        </svg>
                    </div>
                    <div class="metric-use">
                        <span>使用率</span>
                        <svg height="20" width="75%">
                            <line x1="0" x2="100%" y1="15" y2="15" stroke="#D7D7D7" stroke-width="4" stroke-linecap="round"/>
                            <line x1="0" [attr.x2]="oracleResource?.memUsed" y1="15" y2="15" stroke="#5CB9FF" stroke-width="4" stroke-linecap="round"/>
                        </svg>
                    </div>
                </div>
                <div class="container-box-count">
                    <div>{{ oracleResource?.sumClusters }}</div>
                    <div>集群数</div>
                </div>
            </div>
            <div class="container-box-view">
                <div class="view-title">
                    <span></span>
                    <span>存储</span>
                </div>
                <div class="view-split"></div>
                <div class="container-box-metric">
                    <div class="metric-assign">
                        <span>分配率</span>
                        <svg height="20" width="75%">
                            <line x1="0" x2="100%" y1="15" y2="15" stroke="#D7D7D7" stroke-width="4" stroke-linecap="round"/>
                            <line x1="0" [attr.x2]="oracleResource?.storageAssigned" y1="15" y2="15" stroke="#5CB9FF" stroke-width="4" stroke-linecap="round"/>
                        </svg>
                    </div>
                    <div class="metric-use">
                        <span>使用率</span>
                        <svg height="20" width="75%">
                            <line x1="0" x2="100%" y1="15" y2="15" stroke="#D7D7D7" stroke-width="4" stroke-linecap="round"/>
                            <line x1="0" [attr.x2]="oracleResource?.storageUsed" y1="15" y2="15" stroke="#5CB9FF" stroke-width="4" stroke-linecap="round"/>
                        </svg>
                    </div>
                </div>
                <div class="container-box-count">
                    <div>{{ oracleResource?.sumNode }}</div>
                    <div>主机数</div>
                </div>
            </div>
            <div class="container-box-view">
                <div class="view-title">
                    <span></span>
                    <span>会话</span>
                </div>
                <div class="view-split"></div>
                <div class="container-box-metric">
                    <div class="metric-assign">
                        <span>分配率</span>
                        <svg height="20" width="75%">
                            <line x1="0" x2="100%" y1="15" y2="15" stroke="#D7D7D7" stroke-width="4" stroke-linecap="round"/>
                            <line x1="0" [attr.x2]="oracleResource?.sessionUsed" y1="15" y2="15" stroke="#5CB9FF" stroke-width="4" stroke-linecap="round"/>
                        </svg>
                    </div>
                    <div class="metric-use">
                        <span>使用率</span>
                        <svg height="20" width="75%">
                            <line x1="0" x2="100%" y1="15" y2="15" stroke="#D7D7D7" stroke-width="4" stroke-linecap="round"/>
                            <line x1="0" [attr.x2]="oracleResource?.sessionAssigned" y1="15" y2="15" stroke="#5CB9FF" stroke-width="4" stroke-linecap="round"/>
                        </svg>
                    </div>
                </div>
                <div class="container-box-count container-box-placeholder">
                </div>
            </div>
        </div>
    </div>
    <div class="subfield-wrapper">
        <div class="subfield-box">
            <div class="subfield-header">
                镜像仓库
            </div>
            <!-- <div class="subfield-box-view">
                <div class="view-title">
                    <span></span>
                    <span>端口</span>
                </div>
                <div class="view-split"></div>
                <div class="container-box-metric">
                    <div class="metric-assign">
                        <span>分配率</span>
                        <svg height="20" width="80">
                                  <line x1="0" x2="80" y1="15" y2="15" stroke="#D7D7D7" stroke-width="4" stroke-linecap="round"/>
                                  <line x1="0" [attr.x2]="extraResource?.portAssigned" y1="15" y2="15" stroke="#5CB9FF" stroke-width="4" stroke-linecap="round"/>
                              </svg>
                    </div>
                    <div class="metric-use">
                        <span>使用率</span>
                        <svg height="20" width="80">
                                  <line x1="0" x2="80" y1="15" y2="15" stroke="#D7D7D7" stroke-width="4" stroke-linecap="round"/>
                                  <line x1="0" [attr.x2]="extraResource?.portUsed" y1="15" y2="15" stroke="#5CB9FF" stroke-width="4" stroke-linecap="round"/>
                              </svg>
                    </div>
                </div>
            </div> -->
            <div class="subfield-metric-wrapper">
                <div class="subfield-metric">
                    <div class="subfield-metric-title">
                        {{ image?.public }}
                    </div>
                    <div class="subfield-metric-desc">
                        公有镜像数
                    </div>
                </div>
                <div class="subfield-metric">
                    <div class="subfield-metric-title">
                        {{ image?.private }}
                    </div>
                    <div class="subfield-metric-desc">
                        私有镜像数
                    </div>
                </div>
                <div class="subfield-metric">
                    <div class="subfield-metric-title">
                        {{ image?.totalSize }}
                    </div>
                    <div class="subfield-metric-desc">
                        总容量(GB)
                    </div>
                </div>
            </div>
        </div>
        <div class="subfield-box">
            <div class="subfield-header">
                核心组件健康状态
            </div>
            <div class="subfield-metric">
                <div class="subfield-metric-title">
                    {{ extraResource?.k8sSlaveError + extraResource?.k8sSysError }}
                </div>
                <div class="subfield-metric-desc">
                    告警数
                </div>
            </div>
            <div class="subfield-health">
                <div class="health-title">
                    健康状态
                </div>
                <div class="health-content">
                    <div>
                        <div>k8sNodes Compute</div>
                        <div>
                            <nz-tag [nzColor]="'#2db7f5'">正常 {{ extraResource?.k8sSlaveRun }}</nz-tag>
                        </div>
                    </div>
                    <div>
                        <div>k8sNodes Compute</div>
                        <div>
                            <nz-tag [nzColor]="'#f50'">异常 {{ extraResource?.k8sSlaveError }}</nz-tag>
                        </div>
                    </div>
                    <div>
                        <div>k8sNodes Controller</div>
                        <div>
                            <nz-tag [nzColor]="'#2db7f5'">正常 {{ extraResource?.k8sSysRun }}</nz-tag>
                        </div>
                    </div>
                    <div>
                        <div>k8sNodes Controller</div>
                        <div>
                            <nz-tag [nzColor]="'#f50'">异常 {{ extraResource?.k8sSysError }}</nz-tag>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>