<div class="opera-overview-wrapper">
  <div class="total-num-wrapper">
    <div class="total-num-divs">
      <div class="total-list">
        <img class="total-list-img" src="assets/opera/img-docker.png" alt="">
        <span class="total-list-title">容器个数</span>
        <span class="total-list-num" style="color: rgb(50, 175, 130);">112</span>
      </div>

      <div class="total-list">
        <img class="total-list-img" src="assets/opera/img-docker.png" alt="">
        <span class="total-list-title">镜像总数</span>
        <span class="total-list-num" style="color: rgb(68, 186, 225);">349</span>
      </div>

      <div class="total-list">
        <img class="total-list-img" src="assets/opera/img-docker.png" alt="">
        <span class="total-list-title">服务数</span>
        <span class="total-list-num" style="color: rgb(223, 180, 101);">176</span>
      </div>
    </div>
    <div class="total-resource-div"></div>
  </div>
</div>
