.opera-wrapper {
    background-color: #f6f5f5;
    padding: 35px 15px;
}

.opera-dashboard {
    margin-top: 18px;
}

.opera-resource {
    margin-top: 14px;
}

.opera-health {
    margin-top: 14px;
}