<div class="dashboard-resulet-wrapper" style="position: relative">
  <div class="dashboard-resulet">
      <ul>
        <li class="dashboard-li">
          <span>2018-01-15 15:28:27.994</span>
          <span class="log-service">mysql.mysql</span>
          <span class="log-cluster">ebd</span>
          <span class="log-node">10.132.49.106</span>
          <span class="log-instance">bb3a0e81</span>
          <span class="log-path">stdout</span>
          <span class="log-message">2018-01-15 07:28:27 143 [Warning] IP address '10.132.49.106' has been resolved to the host name '10.132.49.106', which resembles IPv4-address itself.</span>
        </li>
      </ul>
  </div>
</div>
<div echarts [options]="diskOption" [loading]="showloading" class="chart-style"></div>


