<div nz-form-item class="dynamic-field form-select" [formGroup]="group" nz-row>
  <div nz-col [nzSpan]="4" style="text-align: right">
    <label>
      {{ config.label }}
      <!-- {{ config.styles }} -->
      <span style="color: red" [hidden]="config.notNecessary">*</span>
    </label>
  </div>
  <!-- <select [formControlName]="config.name">
    <option value="">{{ config.placeholder }}</option>
    <option *ngFor="let option of config.options">
      {{ option }}
    </option>
  </select> -->
  <div nz-col nz-form-control [nzValidateStatus]="getFormControl()" [nzSpan]="18" style="margin-left: 10px">
    <!-- 这里的selectOption确保比如应用部署，redis和zookeeper切换的时候，清除表单里下拉框的值 -->
    <nz-select [(ngModel)]="config.selectedOption" (nzOpenChange)="valueArrEntity()" [formControlName]="config.name" [nzTags]="config.ifTags"
      [ngStyle]="config.styles" [nzPlaceHolder]="config.placeholder" [nzShowSearch]="true" nzAllowClear>
      <nz-option *ngFor="let option of config.options" [nzValue]="option" [nzLabel]="option" [nzDisabled]="option.disabled">
      </nz-option>
    </nz-select>
    <div nz-form-explain *ngIf="getFormControl().dirty&&getFormControl().hasError('required')">{{config.label}}不能为空</div>
    <!-- 下面是测试 -->
    <!-- <div>111</div> -->
    <!-- <div>{{ config.selectedOption }}</div> -->
    <!-- <div>{{ component.componentType }}</div>
    <div>{{ component.getValue }}</div> -->
    <!-- <div nz-form-explain *ngIf="getFormControl().dirty&&getFormControl().hasError('duplicated')">The username is redundant!</div> -->
    <!-- <div nz-form-explain *ngIf="getFormControl().dirty&&getFormControl().pending">校验中...</div> -->


    <!-- <div [ngStyle]="config.styles" *ngIf="validation.invalid && (validation.dirty || validation.touched)">
      <nz-alert *ngIf="validation.errors.required" [nzType]="'error'" nzMessage="{{config.label}}不能为空" [nzShowIcon]="'true'">
      </nz-alert>

      <nz-alert *ngIf="validation.errors.minlength" [nzType]="'error'" nzMessage="{{ config.label }}数目不能小于{{ validation.errors.minlength['requiredLength'] }}" [nzShowIcon]="'true'">
      </nz-alert>
    </div> -->
  </div>
</div>