<div class="dynamic-field form-select" [formGroup]="group" nz-row>
  <div nz-col [nzSpan]="4" style="text-align: right">
    <label>
      {{ config.label }}
      <!-- {{ config.styles }} -->
      <span style="color: red" [hidden]="notNecessary">*</span>
    </label>
  </div>
  <!-- <select [formControlName]="config.name">
    <option value="">{{ config.placeholder }}</option>
    <option *ngFor="let option of config.options">
      {{ option }}
    </option>
  </select> -->
  <div nz-col [nzSpan]="18" style="margin-left: 10px">
    <nz-select [formControlName]="config.name" [nzTags]="config.ifTags" [ngStyle]="config.styles" [nzPlaceHolder]="config.placeholder"
      [nzShowSearch]="true">
      <nz-option *ngFor="let option of config.options" [nzValue]="option" [nzLabel]="option" [nzDisabled]="option.disabled">
      </nz-option>
    </nz-select>


    <div [ngStyle]="config.styles" *ngIf="validation.invalid && (validation.dirty || validation.touched)">
      <nz-alert *ngIf="validation.errors.required" [nzType]="'error'" nzMessage="{{config.label}}不能为空" [nzShowIcon]="'true'">
      </nz-alert>

      <nz-alert *ngIf="validation.errors.minlength" [nzType]="'error'" nzMessage="{{ config.label }}数目不能小于{{ validation.errors.minlength['requiredLength'] }}" [nzShowIcon]="'true'">
      </nz-alert>
    </div>
  </div>
</div>