nz-layout{
    background: #fff;
    padding: 20px;
}

nz-header, nz-content, nz-footer {
    background: #fff
}

nz-header {
    padding: 0;
    width: 80%;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

nz-content {
    padding: 0;
    span {
        height: 30px;
        line-height: 30px;
    }
    .file {
        margin-left: 10px;
        cursor: pointer;
        width: 90px;
        position: relative;
        display: inline-block;
        // background: #D0EEFF;
        border: 1px solid #99D3F5;
        border-radius: 4px;
        padding: 4px 12px;
        overflow: hidden;
        color: #1E88C7;
        text-decoration: none;
        text-indent: 0;
        height: 30px;
        line-height: 20px;
        input {
            cursor: pointer;
            position: absolute;
            font-size: 100px;
            right: 0;
            top: 0;
            opacity: 0; 
        }
        &:hover {
            cursor: pointer;
            background: #AADFFD;
            border-color: #78C3F3;
            color: #004974;
            text-decoration: none;
        }
    }
    nz-table {
        // th, td {
        //     width: 33.3%;
        // }
    }
    .ant-row {
        margin-bottom: 10px;
    }
}

nz-footer {
    // width: 80%;
    // border-top: 1px solid #ddd;
    // padding-top: 20px;
}
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    // background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.my-drop-zone {
    border: dotted 1px lightgray;
}

.nv-file-ove {
    border: dotted 1px red;
}

.ant-table-thead > tr > th {
    padding: 8px;
}