<nz-table #nzTable
          [nzAjaxData]="_dataSet"
          [nzLoading]="_loading"
          [nzIsPagination]="false"
          [nzShowSizeChanger]="false"
>
  <thead nz-thead>
  <tr>
    <th nz-th *ngFor="let title of tableTitle">
      <span>{{title.name}}</span>
    </th>
  </tr>
  </thead>
  <tbody nz-tbody *ngIf="tableNum === 1">
  <tr nz-tbody-tr *ngFor="let data of nzTable.data.repositories">
    <td nz-td>{{data.repositoryName}}</td>
    <td nz-td>{{data.size}}MB</td>
    <td nz-td>{{data.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
  </tr>
  </tbody>
  <tbody nz-tbody *ngIf="tableNum === 2">
  <tr nz-tbody-tr *ngFor="let data of nzTable.data">
    <td nz-td>
      <a [routerLink]="['/appOverviewDetail', data.id]">
        {{data.instanceName}}
      </a>
    </td>
    <td nz-td>{{data.groupId}}</td>
    <td nz-td>{{data.cpuSize}}核 {{data.memSize}}M</td>
    <td nz-td>{{data.instancesCount}} 个</td>
    <td nz-td>{{data.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
  </tr>
  <tbody nz-tbody *ngIf="tableNum === 3">
  <tr nz-tbody-tr *ngFor="let data of nzTable.data">
    <td nz-td>
      <!--<a [routerLink]="['/appOverviewDetail', data.id]">
        {{data.instanceName}}
      </a>-->
      {{data.instanceName}}
    </td>
    <td nz-td>{{data.clusterName}}</td>
    <td nz-td>///</td>
    <td nz-td>{{data.status}}</td>
    <td nz-td>{{data.instancesCount}} 个</td>
    <td nz-td>{{data.cpuSize}} 核 {{data.memSize}} M</td>
    <td nz-td>
      <a [routerLink]="['/serviceInstanceDetail', data.id]">查看详情</a>
    </td>
  </tr>
  </tbody>
</nz-table>
