<nz-table #nzTable [nzAjaxData]="_dataSet" [nzLoading]="_loading" [nzIsPagination]="false" [nzShowSizeChanger]="false">
    <thead nz-thead>
        <tr>
            <th nz-th *ngFor="let title of tableTitle">
                <span>{{title.name}}</span>
            </th>
        </tr>
    </thead>
    <!--镜像列表-->
    <tbody nz-tbody *ngIf="tableNum === 1 && nzTable.data.repositories">
        <tr nz-tbody-tr *ngFor="let data of nzTable.data.repositories">
            <td nz-td>{{data.repositoryName}}</td>
            <td nz-td>{{data.version}}</td>
            <td nz-td>{{data.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        </tr>
    </tbody>
    <tbody nz-tbody *ngIf="tableNum === 2">
        <tr nz-tbody-tr *ngFor="let data of nzTable.data">
            <td nz-td>
                <a [routerLink]="['/appOverviewDetail', data.id]">
                    {{data.instanceName}}
                </a>
            </td>
            <td nz-td>{{data.groupId}}</td>
            <td nz-td>{{data.cpuSize}}核 {{data.memSize}}M</td>
            <td nz-td>{{data.instancesCount}} 个</td>
            <td nz-td>{{data.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        </tr>
        <!--服务目录中已订购实例的表格-->
        <tbody nz-tbody *ngIf="tableNum === 3">
            <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                <td nz-td>
                    <!--<a [routerLink]="['/appOverviewDetail', data.id]">
        {{data.instanceName}}
      </a>-->
                    {{data.instanceName}}
                </td>
                <td nz-td>{{data.clusterName}}</td>
                <td nz-td>///</td>
                <td nz-td>
                    <p [style.background-color]="data.status==='Running' ? '#67c281' : '#ff9933'" class="dataStatus">
                        {{data.status}}
                    </p>
                </td>
                <td nz-td>{{data.instancesCount}} 个</td>
                <td nz-td>{{data.cpuSize}} 核 {{data.memSize}} M</td>
                <td nz-td>
                    <a [routerLink]="['/serviceInstanceDetail', data.id]">查看详情</a>
                </td>
            </tr>
        </tbody>
        <tbody nz-tbody *ngIf="tableNum === 4">
            <tr nz-tbody-tr *ngFor="let data of nzTable.data.info.services; let i=index">
                <td nz-td>
                    <a [routerLink]="['/appOverviewDetailDetail', nzTable.data.id , data.service_name]">
                        {{data.service_name}}
                    </a>
                </td>
                <td nz-td>{{data.current_status}}</td>
                <td nz-td>{{data?.custom_instance_size?.cpu}} 核 {{data?.custom_instance_size?.mem}} MB</td>
                <td nz-td>{{data.healthy_num_instances? data.healthy_num_instances : 0}} 个</td>
            </tr>
        </tbody>

        <!-- 服务实例 服务子实例列表  服务实例详情  容器实例表格 -->
        <tbody nz-tbody *ngIf="tableNum === 5 && nzTable.data.instances">
            <tr nz-tbody-tr *ngFor="let data of nzTable.data.instances">
                <!--<td nz-td>
      <a [routerLink]="['/appOverviewDetailDetail', nzTable.data.id , data.service_name]">
        {{data.service_name}}
      </a>
    </td>-->
                <td nz-td>{{data.instance_name}}</td>
                <td nz-td>{{data.host_ip}}</td>
                <td nz-td>{{data.container_ip}}</td>
                <td nz-td>{{data.started_at | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td nz-td>
                    <button nz-button [nzType]="'primary'" disabled>
                        <span>重建</span>
                    </button>
                </td>
            </tr>
        </tbody>

        <!-- 服务实例详情 环境变量表格 -->
        <tbody nz-tbody *ngIf="tableNum === 11">
            <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                <td nz-td>{{data.key}}</td>
                <td nz-td>{{data.value}}</td>
            </tr>
        </tbody>

        <!-- 配置中心表格 -->
        <tbody nz-tbody *ngIf="tableNum === 6">
            <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                <td nz-td>
                    <a [routerLink]="['/appOverviewDetailDetail', data.id]">
                        {{data.configName}}
                    </a>
                </td>
                <!--
    <td nz-td>{{data.createUserId}}</td>
-->
                <td nz-td>{{data.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td nz-td>{{data.updateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td nz-td>
                    <button nz-button [nzType]="'primary'" (click)="showModal(data.id, data.configName);">
                        <span>删除</span>
                    </button>
                </td>
            </tr>
        </tbody>

        <!-- 应用实例详情 配置文件表格 -->
        <tbody nz-tbody *ngIf="tableNum === 7 && nzTable.data.microserviceConfigs">
            <tr nz-tbody-tr *ngFor="let data of nzTable.data.microserviceConfigs">
                <td nz-td>{{data.configName}}</td>
                <td nz-td>{{data.key}}</td>
                <td nz-td>{{data.value}}</td>
            </tr>
        </tbody>

        <!-- 应用实例详情 服务地址表格 -->
        <tbody nz-tbody *ngIf="tableNum === 8">
            <tr nz-tbody-tr *ngFor="let endpoint of nzTable?.data?.endpoints; trackBy: index">
                <td nz-td>{{endpoint.ip}}</td>
                <td nz-td>{{endpoint.listener_port}}</td>
                <td nz-td>{{endpoint.domains.join(',')}}</td>
                <td nz-td>{{endpoint.ip_type}}</td>
                <td nz-td>{{endpoint.protocol}}</td>
            </tr>
        </tbody>

        <!-- 应用实例详情 容器实例表格 -->
        <tbody nz-tbody *ngIf="tableNum === 9 && nzTable.data.info && nzTable.data.info.instances">
            <tr nz-tbody-tr *ngFor="let data of nzTable.data.info.instances">
                <td nz-td>{{data.instance_name}}</td>
                <td nz-td>{{data.host_ip}}</td>
                <td nz-td>{{data.container_ip}}</td>
                <td nz-td>{{data.started_at}}</td>
                <td nz-td>
                    <button nz-button [nzType]="'primary'" disabled>
                        <span>重建</span>
                    </button>
                </td>
            </tr>
        </tbody>

        <!-- 应用实例详情 存储卷表格 -->
        <tbody nz-tbody *ngIf="tableNum === 10 && nzTable.data.info && nzTable.data.info.volumes">
            <tr nz-tbody-tr *ngFor="let data of nzTable.data.info.volumes">
                <td nz-td>{{data.volume_name}}</td>
                <!--
    如果volume_id": "host_path"，驱动类型是主机路径，不然取diriver——name
-->
                <td nz-td *ngIf='data.driver_name === ""'>主机路径</td>
                <td nz-td *ngIf='data.driver_name !== ""'>{{data.driver_name}}</td>
                <td nz-td>{{data.app_volume_dir}}</td>
            </tr>
        </tbody>

</nz-table>