<div style="padding:20px">
  <nz-steps [(nzCurrent)]="current">
    <nz-step [nzTitle]="'应用部署'"></nz-step>
    <nz-step [nzTitle]="'镜像配置'"></nz-step>
    <nz-step [nzTitle]="'服务配置'"></nz-step>
    <nz-step [nzTitle]="'部署成功'"></nz-step>
  </nz-steps>
  <div class="steps-content">
    <!-- {{index}} -->
    <!-- 这里是四个form，都写出来，然后每个是不同的div布局，可以把这四个分步骤表单看成一个页面，然后控制ngif可见性
          最后把四个form的数据封装到一起 -->
    <div>
      <!-- 应用部署 -->
      <div [hidden]="current !== 0">
        <nz-layout>
          <nz-content>
            <div class="marginTop20">
              <p>应用部署</p>
              <div class="borderTop80" nz-row>
                <dynamic-form #formFirstProject [config]="formFirst">
                </dynamic-form>
                <div nz-row>
                  <div nz-col [nzSpan]="4" style="text-align: right">
                    <span style="display: block;
                              font-size: 13px;
                              font-weight: 400;
                              letter-spacing: 0px;
                              margin-bottom: 10px;
                              color: rgba(0, 0, 0, 0.9);">资源池</span>
                  </div>
                  <div nz-col [nzSpan]="18" style="margin-left: 10px; margin-top: 4px">
                    <!-- <nz-radio-group [(ngModel)]="this.radioValue" (click)="toggleButton()"> -->
                    <nz-radio-group [(ngModel)]="this.radioValue">
                      <label nz-radio [nzValue]="'prodDomain'" style="margin-right: 25px">
                        <span>生产域</span>
                        <nz-tooltip [nzPlacement]="'rightTop'">
                          <i nz-tooltip class="anticon anticon-question-circle-o" style="position: absolute; right: -10px;"></i>
                          <ng-template #nzTemplate>
                            <div>
                              <p>如果选了生产域</p>
                              <p>每个镜像的基本配置中添加区域选项(互联网、portal、核心)</p>
                              <p>
                                每个服务的基本配置中添加区域选项(互联网、portal、核心)
                              </p>
                            </div>
                          </ng-template>
                        </nz-tooltip>
                        <!-- <i class="anticon anticon-question-circle-o" style="position: absolute; right: -10px;"></i> -->
                      </label>
                      <label nz-radio [nzValue]="'testDomain'">
                        <span>测试域</span>
                      </label>
                    </nz-radio-group>
                  </div>
                </div>
              </div>
            </div>
          </nz-content>
        </nz-layout>
      </div>

      <!-- 镜像配置 -->
      <div [hidden]="current !== 1">
        <nz-layout>
          <nz-content>
            <div class="marginTop20">
              <p>镜像配置</p>
              <div class="borderTop80">
                <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
                  <nz-tab (nzSelect)="choosedImageFunc(tab)" *ngFor="let tab of imageTabs">
                    <ng-template #nzTabHeading>
                      {{tab}}
                    </ng-template>
                    <!-- <span>Content of Tab Pane {{tab.index}}</span> -->
                  </nz-tab>
                </nz-tabset>
              </div>
            </div>

            <div class="marginTop20">
              <p class="borderBottom80">基本配置</p>
              <div nz-row style="margin-bottom: 15px">
                <dynamic-form #formSecondProject [config]="formSecond">
                </dynamic-form>
                <div nz-row>
                  <div nz-col [nzSpan]="4" style="text-align: right">
                    <span style="display: block;
                              font-size: 13px;
                              font-weight: 400;
                              letter-spacing: 0px;
                              margin-bottom: 10px;
                              color: rgba(0, 0, 0, 0.9);">容器实例大小</span>
                  </div>
                  <div nz-col [nzSpan]="18" style="margin-left: 10px">
                    <app-container-instance #instanceSecond [config]="instanceConfig">
                    </app-container-instance>
                  </div>
                </div>
              </div>
              <div *ngIf="this.radioValue === 'prodDomain'" nz-row>
                <div nz-col [nzSpan]="4" style="text-align: right">
                  <span style="display: block;
                                font-size: 13px;
                                font-weight: 400;
                                letter-spacing: 0px;
                                margin-bottom: 10px;
                                color: rgba(0, 0, 0, 0.9);">网络</span>
                </div>
                <div nz-col [nzSpan]="18" style="margin-left: 10px; margin-top: 4px">
                  <nz-radio-group [(ngModel)]="this.networkRadioValue">
                    <label nz-radio [nzValue]="'portal'">
                      <span>portal域</span>
                    </label>
                    <label nz-radio [nzValue]="'core'">
                      <span>核心域</span>
                    </label>
                    <label nz-radio [nzValue]="'bussiness'">
                      <span>互联网域</span>
                    </label>
                  </nz-radio-group>
                </div>
              </div>
            </div>
          </nz-content>
        </nz-layout>
      </div>

      <!-- 服务配置 -->
      <div [hidden]="current !== 2">
        <nz-layout>
          <nz-content>
            <div class="marginTop20">
              <p>服务配置</p>
              <div class="borderTop80">
                <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
                  <nz-tab (nzSelect)="choosedServiceFunc(tab)" *ngFor="let tab of serviceTabs">
                    <ng-template #nzTabHeading>
                      {{tab}}
                    </ng-template>
                    <!-- <span>Content of Tab Pane {{tab.index}}</span> -->
                  </nz-tab>
                </nz-tabset>
                <nz-alert class="service-tips" [nzType]="'info'">
                  <span alert-body nz-row>
                    <div style="text-align: center; font-size: 20px; color:#10a5ef" nz-col [nzSpan]="1">
                      <i class="anticon anticon-exclamation-circle-o"></i>
                    </div>
                    <div nz-col [nzSpan]="21">
                      <div>
                        <p>基本信息</p>
                        <span>该模板用于在IT-PaaS 上部署 Kafka 集群</span>
                      </div>
                      <div>
                        <p>配置指南</p>
                        <span>Kafka 依赖于 zookeeper， 请确保选择的 region 下已经有通过应用市场部署的 zookeeper， 否则 kafka 将不能正常使用如果需要的话，可以修改下面的默认参数</span>
                      </div>
                    </div>
                  </span>
                </nz-alert>
              </div>
            </div>
            <div class="marginTop20">
              <p class="borderBottom80">基本配置</p>
              <div nz-row style="margin-bottom: 15px">
                <dynamic-form #formThirdProject [config]="formThird">
                </dynamic-form>
                <dynamic-form #formThird1Project [config]="formThird1">
                </dynamic-form>
                <div nz-row>
                  <div nz-col [nzSpan]="4" style="text-align: right">
                    <span style="display: block;
                                font-size: 13px;
                                font-weight: 400;
                                letter-spacing: 0px;
                                margin-bottom: 10px;
                                color: rgba(0, 0, 0, 0.9);">容器实例大小</span>
                  </div>
                  <div nz-col [nzSpan]="18" style="margin-left: 10px">
                    <app-container-instance #instanceThird [config]="formThird1Radios">
                    </app-container-instance>
                  </div>
                </div>
              </div>
              <div *ngIf="this.radioValue === 'prodDomain'" nz-row>
                <div nz-col [nzSpan]="4" style="text-align: right">
                  <span style="display: block;
                                font-size: 13px;
                                font-weight: 400;
                                letter-spacing: 0px;
                                margin-bottom: 10px;
                                color: rgba(0, 0, 0, 0.9);">网络</span>
                </div>
                <div nz-col [nzSpan]="18" style="margin-left: 10px; margin-top: 4px">
                  <nz-radio-group [(ngModel)]="this.networkRadioValue">
                    <label nz-radio [nzValue]="'portal'">
                      <span>portal域</span>
                    </label>
                    <label nz-radio [nzValue]="'core'">
                      <span>核心域</span>
                    </label>
                    <label nz-radio [nzValue]="'bussiness'">
                      <span>互联网域</span>
                    </label>
                  </nz-radio-group>
                </div>
              </div>
            </div>
            <div class="marginTop20">
              <p class="borderBottom80">高级配置</p>
              <div nz-row style="margin-bottom: 15px">
                <dynamic-form #formThird2Project [config]="formThird2"></dynamic-form>
                <div *ngFor="let formThird2Radio of formThird2Radios" nz-row>
                  <div nz-col [nzSpan]="4" style="text-align: right">
                    <span style="display: block;
                                  font-size: 13px;
                                  font-weight: 400;
                                  letter-spacing: 0px;
                                  margin-bottom: 10px;
                                  color: rgba(0, 0, 0, 0.9);">{{ formThird2Radio.label }}</span>
                  </div>
                  <div nz-col [nzSpan]="18" style="margin-left: 10px; margin-top: 4px">
                    <nz-radio-group [(ngModel)]="formThird2Radio.defaultValue">
                      <label *ngFor="let labelContent of formThird2Radio.labelContent" nz-radio [nzValue]="labelContent">
                        <span>{{ labelContent }}</span>
                      </label>
                    </nz-radio-group>
                  </div>
                </div>
              </div>
            </div>
          </nz-content>
        </nz-layout>
      </div>
    </div>
  </div>
  <div class="steps-action" nz-row>
    <!-- TODO -->
    <!-- disabled? next函数控制 -->
    <div nz-col [nzSpan]="4"></div>
    <div nz-col [nzSpan]="18">
      <span [hidden]="current >= 2">
        <button [disabled]="buttonDisabled()" nz-button [nzType]="'primary'" (click)="next()">
          <span>下一步</span>
        </button>
      </span>
      <span [hidden]="current !== 2">
        <button [disabled]="buttonDisabled()" nz-button [nzType]="'primary'" (click)="done()">
          <span>部署</span>
        </button>
      </span>
      <span [hidden]="current <= 0">
        <button nz-button [nzType]="'default'" (click)="pre()">
          <span>上一步</span>
        </button>
      </span>
      <span [hidden]="current !== 0">
        <button nz-button [nzType]="'default'" (click)="pre()">
          <span>取消</span>
        </button>
      </span>
    </div>
  </div>
</div>