<div id="app-sider">
    <div class="logo">
    </div>
    <ul nz-menu  [nzMode]="isCollapsed?'vertical':'inline'" [nzTheme]="'dark'" id="side-ul">
      <!--  <li nz-menu-item><span><i class="anticon anticon-file"></i><span class="nav-text">概览</span></span></li>
        <li nz-submenu>
            <span title><i class="anticon anticon-user"></i><span class="nav-text">资源管理</span></span>
            <ul class="inside-ul">
                <li nz-menu-item>资源申请</li>
                <li nz-menu-item>资源实例</li>
                <li nz-menu-item>资源维护</li>
            </ul>
        </li>-->
        <li nz-submenu [nzOpen]="true">
            <span title><i class="anticon anticon-user"></i><span class="nav-text">服务管理</span></span>
            <ul class="inside-ul">
                <li nz-menu-item [routerLink]="['/serviceCatalog']">服务目录</li>
                <li nz-menu-item [routerLink]="['/serviceInstance']">服务实例</li>
            </ul>
        </li>
        <li nz-submenu [nzOpen]="true">
            <span title><i class="anticon anticon-user"></i><span class="nav-text">应用管理</span></span>
            <ul class="inside-ul">
                <li nz-menu-item [routerLink]="['/appStore']">应用商城</li>
                <li nz-menu-item [routerLink]="['/appOverview']">应用概览</li>
                <li nz-menu-item [routerLink]="['/configControl']">配置管理</li>
                <li nz-menu-item [routerLink]="['/envDoc']">环境变量文件</li>
            </ul>
        </li>
        <li nz-submenu [nzOpen]="true">
            <span title><i class="anticon anticon-team"></i><span class="nav-text">资产仓库</span></span>
            <ul class="inside-ul">
                <li nz-menu-item [routerLink]="['/repositoryStore']">镜像仓库</li>
<!--
                <li nz-menu-item [routerLink]="['/fileCenter']">文档中心</li>
-->
            </ul>
        </li>
       <!-- <li nz-submenu>
            <span title><i class="anticon anticon-user"></i><span class="nav-text">运维中心</span></span>
            <ul class="inside-ul">
                <li nz-menu-item>运维概览</li>
            </ul>
        </li>-->
    </ul>
</div>
