<div class="thumbnail productDetailContainer">
    <div class="app-deatil-header">
        <a [routerLink]="['/appStore']">返回</a>
        <div>
            <img [src]="appObj.imgUrl" alt="" class="app-detail-img">
            <span class="app-detail-title">{{appObj.title}}</span>
            <h4 class="app-detail-status">{{appObj.isActive ? '正常':'下架'}}</h4>
        </div>
    </div>
    <div class="ap-detail-content">
        <div class="app-detail-content-item">
            <p>服务版本：{{appMsg.serviceVersion}}</p>
        </div>
        <div class="app-detail-content-item">
           <p> 实例描述：{{appMsg.instanceDesc}}</p>
        </div>
        <div class="app-detail-content-item">
            <p>更新时间: {{appMsg.updateTime | date:'yyyy-MM-dd HH:mm:ss'}}</p>
        </div>
    </div>

    <br>
    描述：<p>{{appMsg.desc}}</p>
</div>