<div class="event-chart-wrapper">
    <div nz-row [nzGutter]="8" class="event-chart">
        <div nz-col class="gutter-row" [nzSpan]="24">
            <div class="gutter-box">
                <div echarts [options]="eventOptions" [loading]="showloading" class="chart-style"></div>
            </div>
        </div>
    </div>
</div>

<div class="event-selector">
    <div class="selector-header">
        <div class="header-text">
            筛选条件
        </div>
    </div>
    <div class="selector-content" *ngIf="conditionToggle">
        <div class="selector-group">
            <span>操作类型:</span>
            <nz-radio-group class="selector-element" [(ngModel)]="radioGroup.type" [nzSize]="'large'">
                <label nz-radio-button [nzValue]="'all'"> 
                  <span>全部</span> 
                </label>
                <label nz-radio-button [nzValue]="'login'"> 
                  <span>登录</span> 
                </label>
                <label nz-radio-button [nzValue]="'logout'"> 
                  <span>登出</span> 
                </label>
                <label nz-radio-button [nzValue]="'create'"> 
                  <span>创建</span> 
                </label>
                <label nz-radio-button [nzValue]="'update'"> 
                  <span>更新</span> 
                </label>
            </nz-radio-group>
        </div>
        <div class="selector-group">
            <span>操作对象:</span>
            <nz-radio-group class="selector-element" [(ngModel)]="radioGroup.object" [nzSize]="'large'">
                <label nz-radio-button [nzValue]="'all'"> 
                  <span>全部</span> 
                </label>
                <label nz-radio-button [nzValue]="'project'"> 
                  <span>项目</span> 
                </label>
                <label nz-radio-button [nzValue]="'user'"> 
                  <span>用户</span> 
                </label>
                <label nz-radio-button [nzValue]="'resource'"> 
                  <span>资源</span> 
                </label>
                <label nz-radio-button [nzValue]="'image'"> 
                  <span>镜像</span> 
                </label>
                <label nz-radio-button [nzValue]="'service'"> 
                  <span>服务</span> 
                </label>
                <label nz-radio-button [nzValue]="'application'"> 
                  <span>应用</span> 
                </label>
            </nz-radio-group>
        </div>
        <div class="selector-group">
            <span>操作结果:</span>
            <nz-radio-group class="selector-element" [(ngModel)]="radioGroup.result" [nzSize]="'large'">
                <label nz-radio-button [nzValue]="'all'"> 
                  <span>全部</span> 
                </label>
                <label nz-radio-button [nzValue]="'success'"> 
                  <span>成功</span> 
                </label>
                <label nz-radio-button [nzValue]="'failed'"> 
                  <span>失败</span> 
                </label>
            </nz-radio-group>
        </div>
        <div class="selector-group">
            <span>操作时间:</span>
            <nz-radio-group class="selector-element" [(ngModel)]="radioGroup.time" [nzSize]="'large'">
                <label nz-radio-button [nzValue]="'all'"> 
                  <span>全部</span> 
                </label>
                <label nz-radio-button [nzValue]="'sevenDay'"> 
                  <span>七天内</span> 
                </label>
                <label nz-radio-button [nzValue]="'today'"> 
                  <span>今天</span> 
                </label>
                <label nz-radio-button [nzValue]="'range'"> 
                  <span>选择时间范围</span> 
                </label>
            </nz-radio-group>
        </div>
        <div class="selector-group">
            <span>关键词:</span>
            <nz-input [(ngModel)]="radioGroup.keyword" [nzPlaceHolder]="'搜索内容'" (ngModelChange)="_console($event)" style="width:220px;margin-left:10px;"></nz-input>
        </div>
        <div class="selector-group">
            <div class="selector-option">
                <button nz-button [nzType]="'primary'" (click)="refreshEventTable(true)"><span>确定</span></button>
                <button nz-button [nzType]="'default'" (click)="resetCondition()"><span>重置</span></button>
            </div>
        </div>
    </div>
</div>
<div class="event-condition-switch">
    <div class="switch-action" (click)="toggleCondition()">
        <i class="anticon anticon-up" *ngIf="conditionToggle"></i>
        <i class="anticon anticon-down" *ngIf="!conditionToggle"></i>
    </div>
</div>
<div class="event-table">
    <nz-table #nzTable [nzAjaxData]="dataSet" [nzLoading]="loading" [nzTotal]="total" [nzPageSize]="10" [(nzPageIndex)]="currentPage" (nzPageIndexChange)="refreshEventTable()" [(nzPageSize)]="pageSize" (nzPageSizeChange)="refreshEventTable(true)">
        <thead nz-thead>
            <tr>
                <th nz-th>
                    <span>用户名</span>
                    <nz-table-sort [(nzValue)]="sortMap.user" (nzValueChange)="sort('user', $event)"></nz-table-sort>
                </th>
                <th nz-th>
                    <span>操作类型</span>
                    <nz-table-sort [(nzValue)]="sortMap.type" (nzValueChange)="sort('type', $event)"></nz-table-sort>
                </th>
                <th nz-th>
                    <span>操作对象</span>
                    <nz-table-sort [(nzValue)]="sortMap.object" (nzValueChange)="sort('object', $event)"></nz-table-sort>
                </th>
                <th nz-th>
                    <span>操作结果</span>
                    <nz-table-sort [(nzValue)]="sortMap.result" (nzValueChange)="sort('result', $event)"></nz-table-sort>
                </th>
                <th nz-th>
                    <span>操作备注</span>
                </th>
                <th nz-th>
                    <span>操作时间</span>
                    <nz-table-sort [(nzValue)]="sortMap.time" (nzValueChange)="sort('time', $event)"></nz-table-sort>
                </th>
                <th nz-th>
                    <span>查看日志</span>
                </th>
            </tr>
        </thead>
        <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                <td nz-td>{{data.user}}</td>
                <td nz-td>{{data.type}}</td>
                <td nz-td>{{data.object}}</td>
                <td nz-td>{{data.result}}</td>
                <td nz-td>{{data.note}}</td>
                <td nz-td>{{data.time}}</td>
                <td nz-td>查看</td>
            </tr>
        </tbody>
    </nz-table>
</div>