<div class="event-chart-wrapper">
    <div nz-row [nzGutter]="8" class="event-chart">
        <div class="event-chart-selector">
            <div>平台事件数</div>
            <div>
                <label nz-checkbox [(ngModel)]="allChecked" (ngModelChange)="updateAllChecked()" [nzIndeterminate]="indeterminate">
                  <span>全选</span>
                </label>
                <nz-checkbox-group [(ngModel)]="checkOptionsOne" (ngModelChange)="updateSingleChecked()"></nz-checkbox-group>
                <nz-select style="width: 60px;" [(ngModel)]="selectedTime" (nzOpenChange)="refreshEventChart()" [nzPlaceHolder]="'choose option'" nzAllowClear>
                    <nz-option *ngFor="let option of timeOptions" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
                    </nz-option>
                </nz-select>
            </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24">
            <div class="gutter-box">
                <div echarts [options]="eventOptions" [loading]="showloading" class="chart-style"></div>
            </div>
        </div>
    </div>
</div>

<div class="event-selector">
    <div class="selector-header">
        <div class="header-text">
            筛选条件
        </div>
    </div>
    <div class="selector-content" *ngIf="conditionToggle">
        <div class="selector-group">
            <span>操作类型:</span>
            <div class="btn-group btn-group-toggle selector-element" data-toggle="buttons">
                <label class="btn btn-nz" (click)="checkTypeAll()" [ngClass]="{'active':checkTypeMaster===true}">
                全部
              </label>
                <label class="btn btn-nz" *ngFor="let option of typeOption" [ngClass]="{'active':option.checked===true}" (click)="isTypeAllChecked(option)">
                {{ option.label }}
              </label>
            </div>
        </div>
        <div class="selector-group">
            <span>操作对象:</span>
            <div class="btn-group btn-group-toggle selector-element" data-toggle="buttons">
                <label class="btn btn-nz" (click)="checkObjAll()" [ngClass]="{'active':checkObjMaster===true}">
                  全部
                </label>
                <label class="btn btn-nz" *ngFor="let option of objOption" [ngClass]="{'active':option.checked===true}" (click)="isObjAllChecked(option)">
                  {{ option.label }}
                </label>
            </div>
        </div>
        <div class="selector-group">
            <span>操作结果:</span>
            <nz-radio-group class="selector-element" [(ngModel)]="radioGroup.result" [nzSize]="'large'">
                <label nz-radio-button [nzValue]="'ALL'"> 
                  <span>全部</span> 
                </label>
                <label nz-radio-button [nzValue]="'SUCCESSED'"> 
                  <span>成功</span> 
                </label>
                <label nz-radio-button [nzValue]="'FAILED'"> 
                  <span>失败</span> 
                </label>
            </nz-radio-group>
        </div>
        <div class="selector-group">
            <span>操作时间:</span>
            <nz-radio-group class="selector-element" [(ngModel)]="radioGroup.time" [nzSize]="'large'">
                <label nz-radio-button [nzValue]="'ALL'"> 
                  <span>全部</span> 
                </label>
                <label nz-radio-button [nzValue]="'recseven'"> 
                  <span>七天内</span> 
                </label>
                <label nz-radio-button [nzValue]="'today'"> 
                  <span>今天</span> 
                </label>
            </nz-radio-group>
        </div>
        <div class="selector-group">
            <span>关键词:</span>
            <nz-input [(ngModel)]="radioGroup.keyword" [nzPlaceHolder]="'搜索内容'" (ngModelChange)="_console($event)" style="width:220px;margin-left:10px;"></nz-input>
        </div>
        <div class="selector-group">
            <div class="selector-option">
                <button nz-button [nzType]="'primary'" (click)="refreshEventTable(true)"><span>确定</span></button>
                <button nz-button [nzType]="'default'" (click)="resetCondition()"><span>重置</span></button>
            </div>
        </div>
    </div>
</div>
<div class="event-condition-switch">
    <div class="switch-action" (click)="toggleCondition()">
        <i class="anticon anticon-up" *ngIf="conditionToggle"></i>
        <i class="anticon anticon-down" *ngIf="!conditionToggle"></i>
    </div>
</div>
<div class="event-table">
    <nz-table #nzTable [nzAjaxData]="dataSet" [nzLoading]="loading" [nzTotal]="total" [nzPageSize]="10" [(nzPageIndex)]="currentPage" (nzPageIndexChange)="refreshEventTable()" [(nzPageSize)]="pageSize" (nzPageSizeChange)="refreshEventTable(true)">
        <thead nz-thead>
            <tr>
                <th nz-th>
                    <span>用户名</span>
                    <!-- <nz-table-sort [(nzValue)]="sortMap.user" (nzValueChange)="sort('user', $event)"></nz-table-sort> -->
                </th>
                <th nz-th>
                    <span>操作类型</span>
                    <!-- <nz-table-sort [(nzValue)]="sortMap.type" (nzValueChange)="sort('type', $event)"></nz-table-sort> -->
                </th>
                <th nz-th>
                    <span>操作对象</span>
                    <!-- <nz-table-sort [(nzValue)]="sortMap.object" (nzValueChange)="sort('object', $event)"></nz-table-sort> -->
                </th>
                <th nz-th>
                    <span>操作结果</span>
                    <!-- <nz-table-sort [(nzValue)]="sortMap.result" (nzValueChange)="sort('result', $event)"></nz-table-sort> -->
                </th>
                <th nz-th>
                    <span>客户端IP</span>
                </th>
                <th nz-th>
                    <span>服务端IP</span>
                </th>
                <th nz-th>
                    <span>操作备注</span>
                </th>
                <th nz-th>
                    <span>操作时间</span>
                    <!-- <nz-table-sort [(nzValue)]="sortMap.time" (nzValueChange)="sort('time', $event)"></nz-table-sort> -->
                </th>
                <th nz-th>
                    <span>查看日志</span>
                </th>
            </tr>
        </thead>
        <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                <td nz-td>{{ data.userName }}</td>
                <td nz-td>{{ data.operateType }}</td>
                <td nz-td>{{ data.opObj }}</td>
                <td nz-td>{{ data.operateResult }}</td>
                <td nz-td>{{ data.operateRemark }}</td>
                <td nz-td>{{ data.clientIp }}</td>
                <td nz-td>{{ data.serverAddress }}</td>
                <td nz-td>{{ data.operateTime | date:"y-MM-dd" }}</td>
                <td nz-td class="log-option" (click)="showLogModal(data.id)">查看</td>
            </tr>
        </tbody>
    </nz-table>
</div>
<nz-modal [nzVisible]="isLogVisible" [nzTitle]="'查看日志'" [nzContent]="modalContent" (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)">
    <ng-template #modalContent>
        {{ logData }}
    </ng-template>
</nz-modal>