<app-header [title]="'应用商城2'"
            (buyEvent)="buyHandler($event)"
            (headerTitle)="titleHandler($event)"
></app-header>

<!--<p>
    在父组件中，接收到子组件的：名字：{{appOutput.outputName}} 变化的价格：{{appOutput.outputRandom | number:'2.2-2'}}
</p>
<p>
    接受到子组件header传来的title为{{childTitle}}
</p>-->
<nz-content>
    <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
        <nz-tab *ngFor="let tab of tabs">
            <ng-template #nzTabHeading>
                {{tab.name}}
            </ng-template>
            <app-applist [tabName]="tab.tabName" >

            </app-applist>
        </nz-tab>
    </nz-tabset>
</nz-content>
<nz-footer>
    <nz-pagination [nzPageIndex]="2" [nzTotal]="500" nzShowQuickJumper></nz-pagination>`,

</nz-footer>