<app-header [title]="title"></app-header>

<nz-content class="service-catalog">
    <button nz-button [nzType]="'primary'" class="releaseServiceBtn" routerLink="/serviceRelease">发布服务</button>
    <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
        <nz-tab *ngFor="let tab of tabs"  (nzClick)="changeTabName(tab.tabName)">
            <ng-template #nzTabHeading>
                {{tab.name}}
            </ng-template>
            <div nz-row class="catalog-options-wrapper">
                <div nz-col [nzSpan]="6" class="catalog-option">
                    服务类别
                    <nz-checkbox-group [(ngModel)]="catalogOption"
                                       (ngModelChange)="_log(catalogOption)"></nz-checkbox-group>
                </div>
                <div nz-col [nzSpan]="7" class="catalog-option">
                    网络
                    <nz-checkbox-group [(ngModel)]="internetOption"
                                       (ngModelChange)="_log(resourceOption)"></nz-checkbox-group>
                </div>
                <div nz-col [nzSpan]="6" class="catalog-option">
                    关键字
                    <input type="text" class="form-control" placeholder="按服务名称搜索..." [formControl]="titleFilter">
                </div>
                <div nz-col [nzSpan]="2" class="catalog-option">
                    <button nz-button [nzType]="'primary'">搜索</button>
                </div>
            </div>
            <div na-row class="catalog-order-wrapper">
                <button nz-button [nzType]="'default'" class="timeOrderBtn">按发布时间排序</button>
                <label nz-checkbox [(ngModel)]="_checked" (ngModelChange)="_console($event)">
                    <span>只显示正常状态的服务</span>
                </label>
            </div>

            <app-service-list [moduleName]="'service'" [tabName]="tabName" [titleFilter]="titleFilter"></app-service-list>

        </nz-tab>
    </nz-tabset>
</nz-content>

<nz-footer>
    <nz-pagination [(nzPageIndex)]="_current" [nzTotal]="50" nzShowTotal nzShowSizeChanger
                   nzShowQuickJumper></nz-pagination>
</nz-footer>