.service-catalog{
    margin: 0 50px 0 30px;
}
.service-search-wrapper{
    margin-top: 5px;
    margin-bottom: 15px;
}
.service-search-wrapper .form-control{
    width: 100% !important;
}

.releaseServiceBtn{
    visibility: hidden;
    margin: 0px 0 23px 0;
}
.catalog-option{
    padding-left: 10px;
}
.timeOrderBtn{
    margin: 20px 20px 20px 0;
}
.form-control{
    display: inline-block;
    width: 80%;
}