<app-header [title]="title"></app-header>

<nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" id="service-tabset">
  <nz-tab *ngFor="let tab of tabs" (nzClick)="changeIsPublic(tab.tabName)"  class="service-nz-tab">
    <ng-template #nzTabHeading>
      {{tab.name}}
    </ng-template>
    <app-group-select (groupidHandler)="groupidHandler($event)"></app-group-select>
    <div class="service-topbar">
      <button nz-button class="group-name"><span>服务类别</span> </button>
      <nz-radio-group [(ngModel)]="radioValue" [nzSize]="'large'" (click)="changeTabName(radioValue)">
        <label nz-radio-button [nzValue]="'Middleware'"><span>中间件服务</span></label>
        <label nz-radio-button [nzValue]="'Database'"><span>数据库服务</span></label>
        <label nz-radio-button [nzValue]="'Microservice'"><span>微服务框架</span></label>
      </nz-radio-group>
      <button nz-button [nzType]="'primary'" class="releaseServiceBtn" routerLink="/serviceRelease">发布服务</button>
    </div>
    <app-service-list [deleteDisabled]="false" [moduleName]="'service'" [isPublic]="isPublic" [tabName]="radioValue"  [titleFilter]="titleFilter"></app-service-list>

  </nz-tab>
</nz-tabset>


  <!--
  <app-search [disabled]="false" [titleFilter]="titleFilter" [offset]="18"></app-search>
-->
