.service-catalog{
    margin: 0 50px 0 30px;
}
.service-catalog-tab {
    margin-top: 23px;
}
.service-search-wrapper{
    margin-top: 5px;
    margin-bottom: 15px;
}
.service-search-wrapper .form-control{
    width: 100% !important;
}

.releaseServiceBtn{
  float: right;
}
.catalog-option{
    padding-left: 10px;
}
.timeOrderBtn{
    margin: 20px 20px 20px 0;
}
.form-control{
    display: inline-block;
    width: 80%;
}

.group-name {
  padding: 0 !important;
  width: 50px !important;
  border: none !important;
  text-align: left !important;
}
.service-topbar{
  margin:20px 0 20px 11px;
}

#service-tabset{
   margin: 27px 50px 0 30px;
}

