<app-header [title]="title"></app-header>

<nz-content>
    <div nz-row class="catalog-options-wrapper">
        <div nz-col [nzSpan]="6" [nzOffset]="18">
            <!-- <nz-input class="serviceInstanceSearch"
                       [nzSize]="large"
                       [(ngModel)]="inputValue"
                       [nzPlaceHolder]="'按服务名称搜索...'"
                       (ngModelChange)="_console($event)">
                 <ng-template #addOnAfter><i class="anticon anticon-search"></i></ng-template>
             </nz-input>-->
            <div class="input-group">
                <input type="text" class="form-control" placeholder="按服务名称搜索..." [formControl]="titleFilter">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <nz-table #nzTable
              [nzAjaxData]="_dataSet"
              [nzShowSizeChanger]="true"
              [nzShowTotal]="true"
              [nzLoading]="_loading"
              [nzTotal]="_total"
              [(nzPageIndex)]="_current"
              (nzPageIndexChange)="refreshData()"
              [(nzPageSize)]="_pageSize"
              (nzPageSizeChange)="refreshData(true)">
        <thead nz-thead>
        <tr>
            <th nz-th>
                <span>实例名称</span>
                <nz-table-sort [(nzValue)]="sortMap.instanceName"
                               (nzValueChange)="sort('instanceName', $event)"></nz-table-sort>
            </th>
            <th nz-th>
                <span>服务名称</span>
                <nz-table-sort [(nzValue)]="sortMap.appName"
                               (nzValueChange)="sort('appName', $event)"></nz-table-sort>
            </th>
            <th nz-th>
                <span>创建时间</span>
                <nz-table-sort [(nzValue)]="sortMap.createTime"
                               (nzValueChange)="sort('createTime', $event)"></nz-table-sort>
            </th>
            <th nz-th>
                <span>实例状态</span>
                <nz-table-sort [(nzValue)]="sortMap.status" (nzValueChange)="sort('status', $event)"></nz-table-sort>
            </th>
            <th nz-th>
                <span>CPU大小</span>
                <nz-table-sort [(nzValue)]="sortMap.cpuSize" (nzValueChange)="sort('cpuSize', $event)"></nz-table-sort>
            </th>
            <th nz-th>
                <span>内存大小</span>
                <nz-table-sort [(nzValue)]="sortMap.memSize" (nzValueChange)="sort('memSize', $event)"></nz-table-sort>
            </th>
            <th nz-th>
                <span>存储大小</span>
                <nz-table-sort [(nzValue)]="sortMap.storageSize"
                               (nzValueChange)="sort('storageSize', $event)"></nz-table-sort>
            </th>
            <th nz-th>
                <span>操作</span>
            </th>
        </tr>
        </thead>
        <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let data of nzTable.data  | appFilter: 'instanceName' : keyword">
            <td nz-td>
                <a [routerLink]="['/serviceInstanceDetail', data.id]">{{data.instanceName}}</a>
            </td>
            <td nz-td>{{data.serviceDisplayName}}</td>
            <td nz-td>{{data.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td nz-td>
                <p [style.background-color]="data.status ? '#67c281' : '#ff9933'"
                   class="dataStatus">
                    {{data.status ? '正常':'挂起'}}
                </p>
            </td>
            <td nz-td>{{data.cpuSize}} 个</td>
            <td nz-td>{{data.memSize}} MB</td>
            <td nz-td>{{data.storageSize}} GB</td>
            <td nz-td>
                <a [routerLink]="['/serviceInstanceDetail', data.id]">详情</a>
            </td>
        </tr>
        </tbody>
    </nz-table>
</nz-content>
