.custom-card span{
    font-size: 13px;
    color: #333333;
    text-decoration: none;
}
.card-content{
    padding: 10px 0;
}
.custom-image img{
    height:130px !important;
}
.ant-card-bordered {
    margin-bottom: 4px !important;
}