.mirror-store-wrapper{
    padding-left: 30px;
    padding-right: 100px;
}
.link-back{
    margin-top: 35px;
    margin-bottom: 20px;
}
.detail-img{
    width: 100px;
}
.detail-title{
    margin-left: 25px;
    font-size: 28px;
}
.detail-img-wrapper{
  display: flex;
}
.img-block{
  flex: 0 0 20%;
}
.long-block{
  flex: 1;
}
.action-block{
  flex: 0 0 3%;
}
.detail-desc-wrapper{
    margin: 20px 0;
    border: solid 1px #e4e4e4;
}
.detail-12col{
    padding: 0px 40px 10px 40px;
    border-right: 1px solid #E1EFDA;
}
.detail-line{
    line-height: 40px;
    padding-left: 20px;
    background-color: #f8f9f8;
}
.detail-line span{
    margin-right: 80px;
}
.detail-line-value{
    color: #2C9CFA;
}
.detail-versions-wrapper a{
    padding-right: 25px;
}
.first-line{
    padding-top:10px !important;
}
#modalContent{
  display: flex;
}
.modal-div{
  display: flex;
  height: 40px;
  padding: 5px;
}
.modal-tem{
  flex: 0 0 5%;
}
.modal-label{
  flex: 0 0 25%;
}
.modal-cont{
  flex: 1;
}

.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all .3s;
}
.gray-status{
  color: #fff;
  padding: 5px 15px;
  border-radius: 15px;
}
.ant-card-bordered {
  margin-bottom: 4px !important;
}
.breadcrumb {
  font-size: 14px;
  padding: 5px 0;
  margin: 15px 0 10px 0;
  background-color: #fff !important;
}
.breadcrumb a {
  color:#2C9CFA !important;
}
