.mirror-body-wrapper{
  display: flex;
}
.mirror-store-wrapper {
  margin-left: 28px;
  margin-right: 60px;
}

.mirrorTab {
  margin-top: 30px;
}

.mirror-btns-wrapper {
  margin: 20px 0;
  height: 22px;
}
.mirror-right-wrapper{
  flex:1;
  flex-direction: column;
}
.mirror-search-wrapper{
  flex:1;
}
.mirror-card-wrapper{
  flex:1;
}
.radio-select-wrapper {
  flex: 0 0 128px;
  border: 1px solid #e4e4e4;
  padding: 20px;
}

.catalog-option {
  padding-bottom: 10px;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 5px;
}

.radio-select-wrapper label {
  line-height: 30px;
  height: 30px;
}

:host ::ng-deep .ant-card-head {
  display: block;
}
