<div class="app-overview">
  <app-header [title]="title"></app-header>
  <app-group-select (groupidHandler)="groupidHandler($event)"></app-group-select>

  <nz-content class="overview-content-wrapper">
    <div class="app-overview-totals">
      <div nz-row [nzGutter]="30">
        <div nz-col class="total-row" [nzSpan]="8">
          <div class="total-box">
            <img [src]="appImgUrl1" alt="" width="100%" class="appImg"/>
            <span class="app-total-span">应用总数</span>
            <span class="app-total-num num-color1" *ngIf="totals">{{totals.appTotalNum ? totals.appTotalNum : 0}}</span>
          </div>
        </div>
        <div nz-col class="total-row" [nzSpan]="8">
          <div class="total-box">
            <img [src]="appImgUrl1" alt="" width="100%" class="appImg"/>
            <span class="app-total-span">容器个数</span>
            <span class="app-total-num num-color2"
                  *ngIf="totals">{{totals.dockerTotalNum ? totals.dockerTotalNum : 0}}</span>
          </div>
        </div>
        <div nz-col class="total-row" [nzSpan]="8">
          <div class="total-box">
            <img [src]="appImgUrl2" alt="" width="100%" class="appImg"/>
            <span class="app-total-span">项目个数</span>
            <span class="app-total-num num-color3" *ngIf="totals">{{totals.projectTotalNum ? totals.projectTotalNum : 0}}</span>
          </div>
        </div>
      </div>
    </div>
    <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" class="mirrorTab">
      <nz-tab *ngFor="let tab of tabs" [nzDisabled]="tab.disabled" (nzClick)="changeMirrorName(tab.tabName)">
        <ng-template #nzTabHeading>
          {{tab.name}}
        </ng-template>
        <nz-table #nzTable [nzAjaxData]="_dataSet" [nzShowSizeChanger]="true" [nzShowTotal]="true"
                  [nzLoading]="_loading" [nzTotal]="_total" [(nzPageIndex)]="_current"
                  (nzPageIndexChange)="refreshData()" [(nzPageSize)]="_pageSize" (nzPageSizeChange)="refreshData(true)">
          <thead nz-thead>
          <tr>
            <th nz-th>
              <span>实例名称</span>
              <nz-table-sort [(nzValue)]="sortMap.instanceName"
                             (nzValueChange)="sort('instanceName', $event)"></nz-table-sort>
            </th>

            <th nz-th>
              <span>应用名称</span>
              <nz-table-sort [(nzValue)]="sortMap.opContainerApp"
                             (nzValueChange)="sort('opContainerApp', $event)"></nz-table-sort>
            </th>
            <th nz-th>
              <span>状态</span>
              <nz-table-sort [(nzValue)]="sortMap.status" (nzValueChange)="sort('status', $event)"></nz-table-sort>
            </th>
            <th nz-th>
              <span>大小</span>
              <nz-table-sort [(nzValue)]="sortMap.cpuSize" (nzValueChange)="sort('cpuSize', $event)"></nz-table-sort>
            </th>
            <th nz-th>
              <span>服务数量</span>
              <nz-table-sort [(nzValue)]="sortMap.instancesCount"
                             (nzValueChange)="sort('instancesCount', $event)"></nz-table-sort>
            </th>
            <th nz-th>
              <span>创建时间</span>
              <nz-table-sort [(nzValue)]="sortMap.createTime"
                             (nzValueChange)="sort('createTime', $event)"></nz-table-sort>
            </th>
            <th nz-th>
              <span>操作</span>
            </th>
          </tr>
          </thead>
          <tbody nz-tbody>
          <tr nz-tbody-tr *ngFor="let data of nzTable.data  | appFilter: 'instanceName' : keyword">
            <td nz-td>
              <a [class.disabled]="!authAppInsDetail" [routerLink]="['/appOverviewDetail', data.id]">
                {{data.instanceName}}
              </a>
            </td>
            <td nz-td>{{data.opContainerApp}}</td>
            <td nz-td>{{data.status}}</td>
            <td nz-td>{{data.cpuSize}}核 {{data.memSize}}M</td>
            <td nz-td>{{data.instancesCount}} 个</td>
            <td nz-td>{{data.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td nz-td >
              <button *ngIf="authAppInsStart" nz-button [disabled]="data.status === 'Running' || data.status === 'Starting' || data.status === 'Stopping'" [nzType]="'primary'" nzSize="small"
                      (click)="showModal_start(data.id, data.instanceName);">
                <span>启动</span>
              </button>
              <button *ngIf="authAppInsStop" nz-button [disabled]="data.status === 'Stopped' || data.status === 'Stopping' || data.status === 'Starting'" [nzType]="'primary'" nzSize="small"
                      (click)="showModal_stop(data.id, data.instanceName);">
                <span>停止</span>
              </button>
              <button *ngIf="authAppInsDelete" nz-button [nzType]="'danger'" nzSize="small"
                      (click)="showModal_delete(data.id, data.instanceName);">
                <span>删除</span>
              </button>
            </td>
          </tr>
          </tbody>
        </nz-table>
      </nz-tab>
    </nz-tabset>
  </nz-content>
</div>

<nz-modal [nzVisible]="isVisible_delete"
          [nzTitle]="'操作确认'"
          [nzMaskClosable]=false
          [nzClosable]=false
          [nzContent]="modalContent_delete"
          (nzOnCancel)="handleCancel($event)"
          (nzOnOk)="handleOk_delete($event)"
          [nzContent]="modalContent_delete"
          [nzFooter]="modalFooter_delete">
  <ng-template #modalContent_delete>
    <p>已选择应用实例：{{deleteName}}，是否确定删除？</p>
    <nz-spin style="display: block" [nzSize]="'large'" [nzSpinning]="_isSpinning_delete" [nzTip]="'删除中'">
    </nz-spin>
  </ng-template>
  <ng-template #modalFooter_delete>
    <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="handleCancel($event)">
      取消
    </button>
    <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="handleOk_delete($event)" [nzLoading]="isConfirmDeleteLoading">
      确认
    </button>
  </ng-template>
</nz-modal>


<nz-modal [nzVisible]="isVisible_start"
          [nzTitle]="'操作确认'"
          [nzMaskClosable]=false
          [nzClosable]=false
          [nzContent]="modalContent_start"
          (nzOnCancel)="handleCancel($event)"
          (nzOnOk)="handleOk_start($event)"
          [nzContent]="modalContent_start"
          [nzFooter]="modalFooter_start">
  <ng-template #modalContent_start>
    <p>已选择应用实例：{{deleteName}}，是否确定启动？</p>
    <nz-spin style="display: block; z-index: 1999; width: 100%;" [nzSize]="'large'" [nzSpinning]="_isSpinning_start" [nzTip]="'启动中'">
    </nz-spin>
  </ng-template>
  <ng-template #modalFooter_start>
    <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="handleCancel($event)">
      取消
    </button>
    <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="handleOk_start($event)" [nzLoading]="isConfirmStartLoading">
      确认
    </button>
  </ng-template>
</nz-modal>

<nz-modal [nzVisible]="isVisible_stop"
          [nzTitle]="'操作确认'"
          [nzMaskClosable]=false
          [nzClosable]=false
          [nzContent]="modalContent_stop"
          (nzOnCancel)="handleCancel($event)"
          (nzOnOk)="handleOk_stop($event)"
          [nzContent]="modalContent_stop"
          [nzFooter]="modalFooter_stop">
  <ng-template #modalContent_stop>
    <p>已选择应用实例：{{deleteName}}，是否确定停止？</p>
    <nz-spin style="display: block" [nzSize]="'large'" [nzSpinning]="_isSpinning_stop" [nzTip]="'停止中'">
    </nz-spin>
  </ng-template>
  <ng-template #modalFooter_stop>
    <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="handleCancel($event)">
      取消
    </button>
    <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="handleOk_stop($event)" [nzLoading]="isConfirmStopLoading">
      确认
    </button>
  </ng-template>
</nz-modal>
