<p>
  component-test works!
</p>
<div class="marginTop20">全局css样式测试</div>
<!-- 动态表单测试 -->
<div class="app">
  <!-- <dynamic-form [config]="config" form="dynamicForm" (submit)="submit($event)"> -->
  <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
    <nz-tab (nzSelect)="choosedImageFunc(tab)" *ngFor="let tab of imageTabs let i=index">
      <ng-template #nzTabHeading>
        {{tab}}
      </ng-template>
      {{ tab || json }} {{ i || json }}
      <dynamic-form [config]="config" (submit)="submit($event)">
      </dynamic-form>
      <dynamic-form [config]="config2" (submit)="submit($event)">
      </dynamic-form>
      <!-- <span>Content of Tab Pane {{tab.index}}</span> -->
    </nz-tab>
  </nz-tabset>
  <!-- <dynamic-form #form [config]="config" (submit)="submit($event)">
  </dynamic-form> -->
  <!-- <dynamic-form *ngIf="choosedImageName === 'name2'" #form11 [config]="config" (submit)="submit($event)">
    </dynamic-form> -->
  <button (click)="addClick()">addClick</button>
  <button (click)="addClick1()">addClick1</button>

  <!-- <dynamic-form #form2 [config]="config2">
  </dynamic-form> -->

  <div nz-col [nzSpan]="4" style="text-align: right">
    <span style="display: block;
            font-size: 13px;
            font-weight: 400;
            letter-spacing: 0px;
            margin-bottom: 10px;
            color: rgba(0, 0, 0, 0.9);">资源池</span>
  </div>
  <div nz-col [nzSpan]="18" style="margin-left: 10px; margin-top: 4px">
    <!-- <nz-radio-group [(ngModel)]="this.radioValue" (click)="toggleButton()"> -->
    <nz-radio-group (click)="toggleRadio()" [(ngModel)]="this.radioValue">
      <label nz-radio [nzValue]="'prodDomain'" style="margin-right: 25px">
        <span>生产域</span>
        <!-- <nz-tooltip [nzPlacement]="'rightTop'">
          <i nz-tooltip class="anticon anticon-question-circle-o" style="position: absolute; right: -10px;"></i>
          <ng-template #nzTemplate>
            <div>
              <p>如果选了生产域</p>
              <p>每个镜像的基本配置中添加区域选项(互联网、portal、核心)</p>
              <p>
                每个服务的基本配置中添加区域选项(互联网、portal、核心)
              </p>
            </div>
          </ng-template>
        </nz-tooltip> -->
        <!-- <i class="anticon anticon-question-circle-o" style="position: absolute; right: -10px;"></i> -->
      </label>
      <label nz-radio [nzValue]="'testDomain'">
        <span>测试域</span>
      </label>
    </nz-radio-group>
  </div>
  <!-- <dynamic-form #form3 [config]="config3" *ngFor="let config of formConfigArr"> -->
  <!-- <dynamic-form #form3 [config]="config3">
  </dynamic-form> -->
  <!-- {{ form.valid }} {{ form.value | json }} -->
</div>

<!-- ng-zorro-antd 表格分页测试 -->
<nz-table #nzTable [nzScroll]="{ y: 240 }" [nzShowTotal]="true" [nzDataSource]="_dataSet" [nzPageSize]="10" [nzShowSizeChanger]="true">
  <ng-template #nzFixedHeader>
    <thead nz-thead #nzFixedHeader>
      <tr>
        <th nz-th>
          <span>Name</span>
        </th>
        <th nz-th>
          <span>Age</span>
        </th>
        <th nz-th>
          <span>Address</span>
        </th>
      </tr>
    </thead>
  </ng-template>
  <tbody nz-tbody>
    <tr nz-tbody-tr *ngFor="let data of nzTable.data">
      <td nz-td>
        <a>{{data.name}}</a>
      </td>
      <td nz-td>{{data.age}}</td>
      <td nz-td>{{data.address}}</td>
    </tr>
  </tbody>
</nz-table>

<!-- 子组件测试 -->
<app-container-instance [config]="instanceConfig" [major]="major">

</app-container-instance>

<!-- 国际化翻译测试 -->
<div>
  <span> test the i18n module: ngx-translate</span>
  <h1>{{ 'helloyou' | translate }}</h1>
</div>

<div>{{ component.getValue }}</div>

<!-- 测试viewChildren：https://angular.io/api/core/ViewChildren -->
<!-- <pane id="1"></pane>
<pane id="2"></pane>
<pane id="3" *ngIf="shouldShow"></pane>

<button (click)="show()">Show 3</button>

<div>panes: {{serializedPanes}}</div> -->

<!-- <app-container-instance *ngFor="let voter of voters" [name]="voter" (onVoted)="onVoted($event)">

</app-container-instance> -->

<h1>Welcome to Angular World</h1>
<p #greet>Hello {{ name }}</p>

<!-- <dynamic-form #form3 [config]="config3" *ngFor="let data of configArr">
  </dynamic-form> -->
<div>分界线</div>
<div *ngFor="let arr of arrTest">
  {{ arr || json }}
  <div *ngFor="let arr1 of arr">
    {{ arr1.a || json }}
  </div>
</div>

<nz-input [nzType]="'search'" [(ngModel)]="inputValue" [nzPlaceHolder]="'Basic usage'"></nz-input>

<nz-select style="width: 400px;" [nzTags]="true" [nzPlaceHolder]="'请选择人员'" [(ngModel)]="selectedMultipleOption" [nzNotFoundContent]="'无法找到'"
  nzShowSearch>
  <nz-option *ngFor="let option of searchOptions" [nzLabel]="option.label" [nzValue]="option">
  </nz-option>
</nz-select>
<button (click)="selectTest1()">selectTest1</button>

<nz-input [(ngModel)]="inputTest"></nz-input>
<span>
  {{ inputTest }}
</span>


<a [attr.disabled]="true">测试disabled</a>

<!-- <div><p></p></div> -->