<!-- 这里需要Todo -->
<div class="dynamic-field form-input" [formGroup]="group" nz-row>
    <div nz-col [nzSpan]="2">
      <label>{{ config.label }}</label>
    </div>
    <!-- <input type="text" [attr.placeholder]="config.placeholder" [formControlName]="config.name"> -->
    <!-- <nz-input style="width: 400px" [nzPlaceHolder]="config.placeholder" [formControlName]="config.name"></nz-input> -->
    <!-- <div nz-col [nzSpan]="22">
      <nz-radio-group (click)="toggleRadio()" [(ngModel)]="this.radioValue">
        <label nz-radio [nzValue]="'newApp'">
          <span>是</span>
        </label>
        <label nz-radio [nzValue]="'notNewApp'">
          <span>否</span>
        </label>
      </nz-radio-group>
    </div>
    <div nz-col [nzSpan]="22">
      <nz-input [nzType]="config.ifTextarea" [id]="config.name" [ngStyle]="config.styles" [nzPlaceHolder]="config.placeholder"
        [formControlName]="config.name"></nz-input>
    </div> -->
  </div>