.mirror-store-wrapper{
    padding-left: 30px;
    padding-right: 100px;
}
.link-back{
    margin-top: 35px;
    margin-bottom: 20px;
}
.detail-img{
    width: 100px;
}
.detail-title{
    margin-left: 25px;
    font-size: 28px;
}
.detail-img-wrapper .img-block{
    display: table-cell;
    vertical-align: middle;
}
.detail-desc-wrapper{
    margin: 20px 0;
    border: solid 1px #e4e4e4;
}
.detail-12col{
    padding: 0px 40px 10px 40px;
    border-right: 1px solid #E1EFDA;
}
.detail-line{
    line-height: 40px;
    padding-left: 20px;
    background-color: #f8f9f8;
}
.detail-line span{
    margin-right: 80px;
}
.detail-line-value{
    color: #2C9CFA;
}
.detail-versions-wrapper a{
    padding-right: 25px;
}
.first-line{
    padding-top:10px !important;
}
.app-detail-title{
  font-size: 16px;
  font-weight: bold;
  margin: 25px 0 10px 0;
}
.custom-image-wrapper{
  background: #f7f7f7;
  padding:25px;
  overflow: hidden;
}
.custom-image{
  /*height: 75px;
  width: 175px;*/
  border: 1px solid #e4e4e4;
  float: left;
  margin-left: 25px;
}
.custom-image img{
  height: 120px;

}
.app-detail-block{
  clear: both;
}
.addVersion{
  margin-bottom: 10px;
}
.disabled {
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
    pointer-events: none;
}
.ant-card-bordered {
  margin-bottom: 4px !important;
}
.breadcrumb {
  font-size: 14px;
  padding: 5px 0;
  margin: 15px 0 10px 0;
  background-color: #fff !important;
}
.breadcrumb a {
  color:#2C9CFA !important;
}
