<div>
  <nz-layout>
    <nz-header style="line-height:32px">
      <a href="#/serviceCatalog">
        <返回</a>
          <p>启动 {{ serviceName }}</p>
    </nz-header>
    <nz-content>
      <div style="width:80%;margin-top:10px">
        <nz-alert class="service-tips" [nzType]="'info'">
          <span alert-body nz-row>
            <div style="text-align: center; font-size: 20px; color:#10a5ef" nz-col [nzSpan]="1">
              <i class="anticon anticon-exclamation-circle-o"></i>
            </div>
            <div nz-col [nzSpan]="21">
              <div>
                <p>基本信息</p>
                <span>该模板用于在IT-PaaS 上部署 {{ serviceName }}</span>
              </div>
            </div>
          </span>
        </nz-alert>
      </div>
      <p class="borderBottom80 marginTop20">基本配置</p>
      <div nz-row style="margin-bottom: 15px">
        <div style="margin-bottom: 10px" nz-row>
          <div nz-col [nzSpan]="4" style="text-align: right">
            <span style="display: block;
                    font-size: 13px;
                    font-weight: 400;
                    letter-spacing: 0px;
                    margin-bottom: 10px;
                    color: rgba(0, 0, 0, 0.9);">资源池</span>
          </div>
          <div nz-col [nzSpan]="18" style="margin-left: 10px; margin-top: 4px">
            <!-- <nz-radio-group [(ngModel)]="this.radioValue" (click)="toggleButton()"> -->
            <nz-radio-group (click)="toggleButton()" [(ngModel)]="this.radioValue">
              <label *ngIf="this.networkRadioValue !== undefined" nz-radio [nzValue]="'product'" style="margin-right: 25px">
                <span>生产域</span>
                <!-- <nz-tooltip [nzPlacement]="'rightTop'">
                  <i nz-tooltip class="anticon anticon-question-circle-o" style="position: absolute; right: -10px;"></i>
                  <ng-template #nzTemplate>
                    <div>
                      <p>如果选了生产域</p>
                      <p>每个镜像的基本配置中添加区域选项(互联网、portal、核心)</p>
                      <p>
                        每个服务的基本配置中添加区域选项(互联网、portal、核心)
                      </p>
                    </div>
                  </ng-template>
                </nz-tooltip> -->
                <!-- <i class="anticon anticon-question-circle-o" style="position: absolute; right: -10px;"></i> -->
              </label>
              <!-- <div>{{ this.networkRadioValue }}</div> -->
              <label *ngIf="this.networkRadioValue2 !== undefined" nz-radio [nzValue]="'test'">
                <span>测试域</span>
              </label>
            </nz-radio-group>
          </div>
        </div>
        <div *ngIf="this.radioValue === 'product'" style="margin-bottom: 10px" nz-row>
          <div nz-col [nzSpan]="4" style="text-align: right">
            <span style="display: block;
                    font-size: 13px;
                    font-weight: 400;
                    letter-spacing: 0px;
                    margin-bottom: 10px;
                    color: rgba(0, 0, 0, 0.9);">集群</span>
          </div>
          <div nz-col [nzSpan]="18" style="margin-left: 10px; margin-top: 4px">
            <!-- <nz-radio-group [(ngModel)]="this.radioValue" (click)="toggleButton()"> -->
              <!-- 这里需要绑定click事件，触发toggleButton事件，现在的逻辑是在资源池选择上，会触发getIptags函数，因为每个资源池下只有一个集群，可以测试，但是当每个资源池下的
              集群数量》1的时候，需要在这里绑定click事件，切换集群的时候，重新调用getIp函数，现在线上没有多集群，所以暂时不测试 -->
            <nz-radio-group (click)="changeRegion(this.networkRadioValue)" [(ngModel)]="this.networkRadioValue">
              <label *ngFor="let cluster of prodCluster" nz-radio [nzValue]="cluster.name">
                <span>{{ cluster.displayName }}</span>
              </label>
            </nz-radio-group>
          </div>
        </div>
        <div *ngIf="this.radioValue === 'test'" style="margin-bottom: 10px" nz-row>
          <div nz-col [nzSpan]="4" style="text-align: right">
            <span style="display: block;
                    font-size: 13px;
                    font-weight: 400;
                    letter-spacing: 0px;
                    margin-bottom: 10px;
                    color: rgba(0, 0, 0, 0.9);">集群</span>
          </div>
          <div nz-col [nzSpan]="18" style="margin-left: 10px; margin-top: 4px">
            <!-- <nz-radio-group [(ngModel)]="this.radioValue" (click)="toggleButton()"> -->
            <nz-radio-group changeRegion(this.networkRadioValue2) [(ngModel)]="this.networkRadioValue2">
              <label *ngFor="let cluster of testCluster" nz-radio [nzValue]="cluster.name">
                <span>{{ cluster.name }}</span>
              </label>
            </nz-radio-group>
          </div>
        </div>
        <dynamic-form #formThirdProject [config]="formThird">
        </dynamic-form>
        <div style="text-align: center">
          <nz-spin [nzTip]="'正在读取数据...'" *ngIf="formThird1.length === 0 || formThird1Radios.length === 0"></nz-spin>
        </div>
        <div *ngIf="formThird1.length > 0 && formThird1Radios.length > 0">
          <!-- todo next -->
          <!-- <div *ngIf="formThird2Radios.length > 0" nz-row>
            <div class="marginBottom15" *ngFor="let formThird2Radio of formThird2Radios" nz-row>
              <div nz-col [nzSpan]="4" style="text-align: right">
                <span style="display: block;
                              font-size: 13px;
                              font-weight: 400;
                              letter-spacing: 0px;
                              margin-bottom: 10px;
                              color: rgba(0, 0, 0, 0.9);">{{ formThird2Radio.label }}</span>
              </div>
              <div nz-col [nzSpan]="18" style="margin-left: 10px; margin-top: 4px">
                <nz-radio-group (click)="toggleRadio()" [(ngModel)]="formThird2Radio.defaultValue">
                  <label *ngFor="let labelContent of formThird2Radio.labelContent" nz-radio [nzValue]="labelContent">
                    <span>{{ labelContent }}</span>
                  </label>
                </nz-radio-group>
              </div>
            </div>
            <dynamic-form *ngIf="serviceName === 'redis'" #formThird3Project [config]="formThird3">
            </dynamic-form>
          </div> -->
          <!-- todo next -->
          <!-- todo next -->
          <div nz-row>
            <!-- todo next -->
            <!-- <div nz-row> -->
            <div *ngIf="serviceName === 'redis' || serviceName === 'mysql'" class="marginBottom15" nz-row>
              <div nz-col [nzSpan]="4" style="text-align: right">
                <span style="display: block;
                              font-size: 13px;
                              font-weight: 400;
                              letter-spacing: 0px;
                              margin-bottom: 10px;
                              color: rgba(0, 0, 0, 0.9);">运行模式</span>
              </div>
              <div nz-col [nzSpan]="18" style="margin-left: 10px; margin-top: 4px">
                <nz-radio-group (click)="toggleRadio()" [(ngModel)]="this.modelValue">
                  <label nz-radio [nzValue]="'replication'">
                    <span>主从</span>
                  </label>
                  <label nz-radio [nzValue]="'cluster'">
                    <span>集群</span>
                  </label>
                </nz-radio-group>
              </div>
            </div>
            <!-- <dynamic-form *ngIf="serviceName === 'mysql'" #formThird4Project [config]="formThird4">
            </dynamic-form> -->
            <!-- <dynamic-form *ngIf="serviceName === 'redis'" #formThird4Project [config]="formThird4">
            </dynamic-form> -->
          </div>
          <dynamic-form #formThird1Project [config]="formThird1">
          </dynamic-form>
          <dynamic-form *ngIf="serviceName === 'redis' || serviceName === 'mysql'" #formThird3Project [config]="formThird3">
          </dynamic-form>
          <div nz-row>
            <div nz-col [nzSpan]="4" style="text-align: right">
              <span style="display: block;
                          font-size: 13px;
                          font-weight: 400;
                          letter-spacing: 0px;
                          margin-bottom: 10px;
                          color: rgba(0, 0, 0, 0.9);">容器实例大小</span>
            </div>
            <div nz-col [nzSpan]="18" style="margin-left: 10px">
              <app-container-instance #instanceThird [config]="formThird1Radios">
              </app-container-instance>
            </div>
          </div>
        </div>
      </div>
      <div>
        <p class="borderBottom80 marginTop20">高级配置</p>
        <!-- <div style="text-align: center">
          <nz-spin [nzTip]="'正在读取数据...'" *ngIf="formThird2.length === 0 && formThird2Radios.length === 0"></nz-spin>
        </div>-->
        <div *ngIf="formThird2.length > 0 || formThird2Radios.length > 0" nz-row>
          <div nz-row style="margin-bottom: 15px">
            <dynamic-form #formThird2Project [config]="formThird2"></dynamic-form>
            <div class="marginBottom15" *ngFor="let formThird2Radio of formThird2Radios" nz-row>
              <div nz-col [nzSpan]="4" style="text-align: right">
                <span style="display: block;
                                    font-size: 13px;
                                    font-weight: 400;
                                    letter-spacing: 0px;
                                    margin-bottom: 10px;
                                    color: rgba(0, 0, 0, 0.9);">{{ formThird2Radio.label }}</span>
              </div>
              <div nz-col [nzSpan]="18" style="margin-left: 10px; margin-top: 4px">
                <nz-radio-group (click)="toggleRadio()" [(ngModel)]="formThird2Radio.defaultValue">
                  <label *ngFor="let labelContent of formThird2Radio.labelContent" nz-radio [nzValue]="labelContent">
                    <span>{{ labelContent }}</span>
                  </label>
                </nz-radio-group>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nz-content>
    <nz-footer>
      <div class="steps-action" nz-row>
        <div nz-col [nzSpan]="4"></div>
        <div nz-col [nzSpan]="18">
          <span>
            <button [disabled]="buttonDisabled()" nz-button [nzType]="'primary'" (click)="done()">
              <span>启动</span>
            </button>
          </span>
          <span>
            <button nz-button [nzType]="'default'" (click)="pre()">
              <span>取消</span>
            </button>
          </span>
        </div>
      </div>
    </nz-footer>
  </nz-layout>
</div>