nz-layout {
    background: #fff;
    padding: 20px;
}
nz-header, nz-content, nz-footer {
    background: #fff;
    padding: 0
}
a{
    font-size: 16px;
}
.steps-content {
    // margin-top: 16px;
    // border: 1px dashed #e9e9e9;
    // border-radius: 6px;
    // background-color: #fafafa;
    // min-height: 200px;
    // text-align: center;
    // padding-top: 80px;
}

.steps-action {
    // margin-top: 24px;
}

nz-header, nz-content, nz-footer {
    background: #fff
}
p {
    font-size: 16px;
}
.service-tips {
    p {
        font-weight: bold;
    }
}

.borderTop80 {
    border-top: 1px solid #ddd;
    padding-top: 20px; 
    width: 80%
}

.borderBottom80 {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px; 
    width: 80%
}

.marginTop20 {
    margin-top: 20px;
}

.steps-action {
    border-top: 1px solid #ddd;
    width: 80%;
    padding-top: 20px;
    // margin-top: 24px;
}